# Ignore all files in public/assets/js
public/assets/js/*.min.js
public/assets/js/jquery.min.js
public/assets/js/util.js
public/assets/js/main.js
public/assets/js/breakpoints.min.js
public/assets/js/browser.min.js
public/assets/js/card-animations.js

# Build outputs
dist/
node_modules/

# Add other files as needed
